<div id="container">
	
	<%= render "banner" %>
	<%= render "navlist" %>

	<div id="content">		
		<%= render "menu" %>

		<div id="info">
			
			<h3>Checkout</h3>

			<p><b>Subotal: </b><%= number_to_currency(@total) %></p>
			<p><b>Taxes: </b><%= number_to_currency(@taxes) %></p>
			<p><b>Total: </b><%= number_to_currency(@taxes + @total) %></p>

		</div>

	</div>

	<%= render "footer" %>

</div>