<div id="container">
	
	<%= render "banner" %>
	<%= render "navlist" %>

	<div id="content">		
		<%= render "menu" %>

		<div id="info">
			
			<h3>Checkout</h3>

			<%= render "info" %>

			<p><b>Checkout Total: </b><%= number_to_currency(@total) %></p>

		</div>

	</div>

	<%= render "footer" %>

</div>