<div id="container">
	
	<%= render "banner" %>
	<%= render "navlist" %>

	<div id="content">		
		<%= render "menu" %>

		<div id="info">
			<p>Number of Items: <%= session[:cart].count %></p>
			<p>Cart Total: <%= number_to_currency(session[:total]) %></p>
			<% @comics.each do |comic| %>
				<%= render :partial => "comics/cartcomic", :object => comic, :as => "comic" %>
			<% end %> 

			<% if session[:cart].count == 0 then %>
				<p>You have no items in your cart</p>
			<% else %>
				<%= link_to "Checkout", "/cart/checkout" %>
			<% end %>
		</div>

	</div>

	<%= render "footer" %>

</div>